{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Item</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <div class="left-container">
                <div class="left-inner-container">
                    <h2>Let's Chat</h2>
                    <p>Whether you have a question, want to start a project, or simply want to connect.</p>
                    <br>
                    <p>Feel free to send me a message in the contact form.</p>
                </div>
            </div>
            <div class="right-container">
                <div class="right-inner-container">
                    <form action="{% url 'create_item' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h2 class="lg-view">Sign up</h2>
                        <a href="{% url 'link_item' %}">Already have account?</a>
                        
                        <input type="text" name="name" placeholder="Name *" required />
                        <input type="email" name="email" placeholder="Email *" required />
                        <input type="password" name="password" placeholder="Password *" required />
                        <input type="password" name="confirm_password" placeholder="Confirm Password *" required />
                    
                        <!-- Поле загрузки фото -->
                        <input type="file" name="profile_image" accept="image/*" required />
                    
                        <button type="submit">Create</button>
                    
                        {% if error_message %}
                            <p style="color: red;">{{ error_message }}</p>
                        {% endif %}
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
